<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Nguyễn Thế Mạnh</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" type="text/css" href="fonts/icon/flaticon.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- Vuejs -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>	
	<!-- Lang file -->
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="colorlib-page">
		<div class="container-wrap">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<div class="text-center">
				<div class="author-img" style="background-image: url(images/about.jpg);"></div>
				<button class="btn btn-hire" data-toggle="tooltip" :title="$t('langTitle')" style="outline: 0;margin-bottom: 10px;" @click="changeLang">
					<span class="icon-globe2" aria-hidden="true">{{ $t("lang") }}</span>
				</button>
				<h1 id="colorlib-logo"><a href="index.html">{{ $t("about.fullname") }}</a></h1>
				<span class="position"><a href="javascript:void(0)">{{ $t("about.position") }}</a> {{ $t("about.positionTitle") }}</span>
			</div>
			<nav id="colorlib-main-menu" role="navigation" class="navbar">
				<div id="navbar" class="collapse">
					<ul>
						<li class="active"><a href="" data-nav-section="home">{{ $t("menu.home") }}</a></li>
						<li><a href="" data-nav-section="about">{{ $t("menu.about") }}</a></li>
						<li><a href="" data-nav-section="services">{{ $t("menu.expertise") }}</a></li>
						<li><a href="" data-nav-section="skills">{{ $t("menu.skills") }}</a></li>
						<li><a href="" data-nav-section="education">{{ $t("menu.education") }}</a></li>
						<li><a href="" data-nav-section="experience">{{ $t("menu.experience") }}</a></li>
						<li><a href="" data-nav-section="contact" class="contact_session">{{ $t("menu.contact") }}</a></li>
					</ul>
				</div>
			</nav>

			<div class="colorlib-footer">
				<p><small>&copy; 
					Copyright {{ copyright }} {{ $t("about.shortName") }} <i class="icon-heart" aria-hidden="true"></i>
				<ul>
					<li><a class="color:blue" :href="$t('about.messenger')" target="_blank"><i class="flaticon-006-messenger"></i></a></li>
					<li><a class="color:blue" :href="'skype:'+ $t('about.skype')"><i class="flaticon-014-skype"></i></a></li>
					<li><a class="color:blue" :href="$t('about.instagram')" target="_blank"><i class="flaticon-005-instagram"></i></a></li>
					<li><a class="color:blue" :href="'tel:' + $t('about.tel')"><i class="flaticon-011-whatsapp"></i></a></li>
				</ul>
			</div>

		</aside>

		<div id="colorlib-main">
			<section id="colorlib-hero" class="js-fullheight" data-section="home">
				<div class="flexslider js-fullheight">
					<ul class="slides">
				   	<li style="background-image: url(images/img_bg_1.jpg);">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner js-fullheight">
					   					<div class="desc">
						   					<h1>{{ $t("hi") }} !<br>{{ $t("greeting") }} {{ $t("about.name") }}</h1>
						   					<h2>{{ $t("about.fullname") }}</h2>
												<p><a class="btn btn-primary btn-learn" href="$t('downloadLink')" target="_blank">{{ $t("download") }}<i class="icon-download4"></i></a></p>
											</div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				   	<li style="background-image: url(images/img_bg_2.jpg);">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner">
					   					<div class="desc">
						   					<h1 v-html="$t('about.introduction')"></h1>
												<h2>{{ $t("about.fullname") }} </h2>
												<p><a class="btn btn-primary btn-learn" :href="$t('downloadLink')" target="_blank">{{ $t("download") }}<i class="icon-download4"></i></a></p>
											</div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				  	</ul>
			  	</div>
			</section>

			<section class="colorlib-about" data-section="about">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">{{ $t("aboutMe") }}</span>
										<h2 class="colorlib-heading">{{ $t("howAmI") }}</h2>
										<p><strong>{{ $t("hi") }} {{ $t("greeting") }} {{ $t("about.fullname") }}</strong> .</p>
										<p>{{ $t("about.aboutIntroduction") }}</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
									<div class="services color-2">
										<span class="icon2"><i class="icon-globe-outline"></i></span>
										<h3>{{ $t("skills.webDesign") }}</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInTop">
									<div class="services color-3">
										<span class="icon2"><i class="icon-data"></i></span>
										<h3>{{ $t("skills.backEnd") }}</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInBottom">
									<div class="services color-4">
										<span class="icon2"><i class="icon-phone3"></i></span>
										<h3>{{ $t("skills.frontEnd") }}</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
									<div class="services color-1">
										<span class="icon2"><i class="icon-bulb"></i></span>
										<h3>{{ $t("skills.graphicDesign") }}</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="colorlib-services" data-section="services">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">{{ $t("expertise.quesiton") }}</span>
							<h2 class="colorlib-heading">{{ $t("expertise.introduction") }}</h2>
						</div>
					</div>
					<div class="row row-pt-md">
						<div class="col-md-4 text-center animate-box" v-for="(value, index) in Object.keys($i18n.messages[$i18n.locale].expertise.item)">
							<div :class="'services color-'+(index+1)">
								<span class="icon">
									<img :src="$i18n.messages[$i18n.locale].expertise.item[index].imageSrc" style="width: 50px;">
								</span>
								<div class="desc">
									<h3>
										{{ $i18n.messages[$i18n.locale].expertise.item[index].title }}
									</h3>
									<p>
										{{ $i18n.messages[$i18n.locale].expertise.item[index].introduction }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="colorlib-skills" data-section="skills">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">{{ $t("skills.specialty") }}</span>
							<h2 class="colorlib-heading animate-box">{{ $t("skills.mySkill") }}</h2>
						</div>
					</div>
					<div class="row">
						<!-- <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
						</div> -->
						<template  v-for="(value, index) in Object.keys($i18n.messages[$i18n.locale].expertise.item)">
							<div v-if="index%2 == 0" class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
								<div class="progress-wrap">
									<h3>{{ $i18n.messages[$i18n.locale].expertise.item[index].title }}</h3>
									<div class="progress">
									 	<div :class="'progress-bar color-'+(index+1)" role="progressbar" :aria-valuenow="$i18n.messages[$i18n.locale].expertise.item[index].level"
									  	aria-valuemin="0" aria-valuemax="100" :style="'width:'+$i18n.messages[$i18n.locale].expertise.item[index].level+'%'">
									    <span></span>
									  	</div>
									</div>
								</div>
							</div>
							<div v-else class="col-md-6 animate-box" data-animate-effect="fadeInRight">
								<div class="progress-wrap">
									<h3>{{ $i18n.messages[$i18n.locale].expertise.item[index].title }}</h3>
									<div class="progress">
									 	<div :class="'progress-bar color-'+(index+1)" role="progressbar" :aria-valuenow="$i18n.messages[$i18n.locale].expertise.item[index].level"
									  	aria-valuemin="0" aria-valuemax="100" :style="'width:'+$i18n.messages[$i18n.locale].expertise.item[index].level+'%'">
									    <span></span>
									  	</div>
									</div>
								</div>
							</div>
						</template>
					</div>
				</div>
			</section>

			<section class="colorlib-education" data-section="education">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">{{ $t("education.title") }}</span>
							<h2 class="colorlib-heading animate-box">{{ $t("education.title") }}
								<span><br><h6>{{ $t("education.school") }}</h6></span></h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">
							<template  v-for="(value, index) in Object.keys($i18n.messages[$i18n.locale].education.item)">
					        	<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft" v-if="index%2==0">
					        	   <div class="timeline-entry-inner">

					        	      <div :class="'timeline-icon color-'+(index+1)">
					        	         <i class="">{{ index+1 }}</i>
					        	      </div>

					        	      <div class="timeline-label">
					        	         <h2><a href="#">{{ $i18n.messages[$i18n.locale].education.item[index].title }}</a> <span>{{ $i18n.messages[$i18n.locale].education.item[index].year }}</span></h2>
					        	         <p>{{ $i18n.messages[$i18n.locale].education.item[index].introduction }}</p>
					        	      </div>
					        	   </div>
								</article>
					        	<article class="timeline-entry animate-box" data-animate-effect="fadeInRight" v-else>
					        	   <div class="timeline-entry-inner">

					        	      <div :class="'timeline-icon color-'+(index+1)">
					        	         <i class="">{{ index+1 }}</i>
					        	      </div>

					        	      <div class="timeline-label">
					        	         <h2><a href="#">{{ $i18n.messages[$i18n.locale].education.item[index].title }}</a> <span>{{ $i18n.messages[$i18n.locale].education.item[index].year }}</span></h2>
					        	         <p>{{ $i18n.messages[$i18n.locale].education.item[index].introduction }}</p>
					        	      </div>
					        	   </div>
								</article>
							</template>

					      </div>
					   </div>
				   </div>
				</div>
			</section>

			<section class="colorlib-experience" data-section="experience">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">{{ $t("experience.title") }}</span>
							<h2 class="colorlib-heading animate-box">{{ $t("experience.introduction") }}</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">
							<template  v-for="(value, index) in Object.keys($i18n.messages[$i18n.locale].experience.item)">
								<article class="timeline-entry animate-box" v-if="index%2==0" data-animate-effect="fadeInLeft">
									<div class="timeline-entry-inner">
	
									   <div :class="'timeline-icon color-'+(index+1)">
										  <i class="icon-pen2"></i>
									   </div>
									   <div class="timeline-label">
											<h2><span class="text-primary">{{ $i18n.messages[$i18n.locale].experience.item[index].position }}</span>
												<a href="#">({{ $i18n.messages[$i18n.locale].experience.item[index].company }})</a> 
												<span>{{ $i18n.messages[$i18n.locale].experience.item[index].time }}</span></h2>
											<p style="font-size: 12px;font-weight: bold;">{{ $i18n.messages[$i18n.locale].experience.item[index].project }}</p>
											<ul>
												<li v-for="(v, i) in Object.keys($i18n.messages[$i18n.locale].experience.item[index].content)"> {{ $i18n.messages[$i18n.locale].experience.item[index].content[i] }}</li>
											</ul>
									   </div>
									</div>
								 </article>
								 <article class="timeline-entry animate-box" v-else data-animate-effect="fadeInRight">
									 <div class="timeline-entry-inner">
	 
										<div :class="'timeline-icon color-'+(index+1)">
										   <i class="icon-pen2"></i>
										</div>
										<div class="timeline-label">
											 <h2><span class="text-primary">{{ $i18n.messages[$i18n.locale].experience.item[index].position }}</span>
												 <a href="#">({{ $i18n.messages[$i18n.locale].experience.item[index].company }})</a> 
												 <span>{{ $i18n.messages[$i18n.locale].experience.item[index].time }}</span></h2>
											 <p style="font-size: 12px;font-weight: bold;">{{ $i18n.messages[$i18n.locale].experience.item[index].project }}</p>
											 <ul>
												 <li v-for="(v, i) in Object.keys($i18n.messages[$i18n.locale].experience.item[index].content)"> {{ $i18n.messages[$i18n.locale].experience.item[index].content[i] }}</li>
											 </ul>
										</div>
									 </div>
								  </article>
							</template>
					      </div>
					   </div>
				   </div>
				</div>
			</section>		

			<section class="colorlib-contact" data-section="contact">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">{{ $t("contact.title") }}</span>
							<h2 class="colorlib-heading">{{ $t("contact.introduction") }}</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<a :href="'mailto:'+ $t('about.mail')">
									<div class="colorlib-icon">
										<i class="icon-mail5"></i>
									</div>
								</a>
								<div class="colorlib-text">
									<p><a :href="'mailto:'+ $t('about.mail')">{{ $t("about.mail") }}</a></p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<a :href="'tel:' + $t('about.tel')">
									<div class="colorlib-icon">
										<i class="icon-phone"></i>
									</div>
								</a>
								<div class="colorlib-text">
									<p><a :href="'tel:' + $t('about.tel')">{{ $t("about.tel") }}</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-md-push-1">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box" data-animate-effect="fadeInRight">
										<div class="form-group">
											<input type="text" class="form-control" :placeholder="$t('contact.form.name')">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" :placeholder="$t('contact.form.mail')">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" :placeholder="$t('contact.form.subject')">
										</div>
										<div class="form-group">
											<textarea name="" id="message" cols="30" rows="7" class="form-control" :placeholder="$t('contact.form.message')"></textarea>
										</div>
										<div class="form-group">
											<input type="button" class="btn btn-primary btn-send-message" :value="$t('contact.form.button')">
										</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="colorlib-blog" data-section="blog">
			</section>

		</div>
	</div>
	</div><!-- end:colorlib-page -->

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
	
	
	<!-- MAIN JS -->
	<script src="js/main.js"></script>
	<script type="text/javascript" src="js/lang.js"></script>
	</body>
</html>

